@import 'tailwindcss';

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-display: swap;
}

@theme {
  /* Colors */
  --color-neutral-900: hsl(24 96% 9%);
  --color-neutral-600: hsl(25 17% 36%);
  --color-neutral-100: hsl(24 40% 95%);
  --color-white: hsl(0 0% 100%);
  --color-yellow: hsl(43 93% 63%);
  --color-blue-400: hsl(221 68% 75%);
  --color-blue-600: hsl(222 52% 55%);
  --color-teal-400: hsl(173 66% 57%);
  --color-pink-400: hsl(314 94% 76%);
  --color-pink-500: hsl(337 80% 70%);
  --color-pink-700: hsl(336 79% 59%);
  /* Typography */
  --font-sans:
    'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer utilities {
  .text-preset-1 {
    @apply text-[2.5rem] font-bold leading-[1.2];
  }
  .text-preset-1-tablet {
    @apply text-[2rem] font-bold leading-[1.2];
  }
  .text-preset-1-mobile {
    @apply text-2xl font-bold leading-[1.2];
  }
  .text-preset-2 {
    @apply text-2xl font-semibold leading-[1.2];
  }
  .text-preset-3 {
    @apply text-[1.25rem] font-semibold leading-[1.2];
  }
  .text-preset-4-semibold {
    @apply text-base font-semibold leading-[1.2];
  }
  .text-preset-4-medium {
    @apply text-base font-medium leading-[1.2];
  }
  .text-preset-4-regular {
    @apply text-base font-normal leading-[1.4];
  }
  .text-preset-5 {
    @apply text-sm font-medium leading-[1.4];
  }
  .text-preset-5-regular {
    @apply text-sm font-normal leading-[1.4];
  }
  .text-preset-6 {
    @apply text-xs font-medium leading-[1.3] tracking-[-0.1875rem];
  }
}

html,
body {
  @apply bg-neutral-100 dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
